:root {
  --color-black: #000000;
  --color-light: #efefef;
  --color-white: #ffffff;
  --color-accent: #f13c6e;

  --container-width: 1110px;
  --gap: 20px;
  --gap-xs: 10px;
  --gap-sm: 15px;
  --gap-lg: 30px;
  --gap-xl: 40px;

  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --line-height-sm: 1.167;
  --line-height-lg: 1.43;
  --letter-spacing: 0.1em;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
body {
  font-size: 0.875rem;
  background-color: var(--color-light);
  color: var(--color-black);
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(100% - var(--gap) * 2, var(--container-width));
  margin-inline: auto;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25em 1em;
  min-width: 170px;
  min-height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-white);
  border-color: var(--color-accent);
}

.header {
  display: flex;
  flex-direction: column;
}

.navbar-primary {
  display: flex;
  align-items: center;
  order: 1;
  background-color: var(--color-white);
  min-height: 80px;
}
.navbar-primary__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 var(--gap);
}
.navbar-primary__link {
  display: block;
  padding: 7px var(--gap-xs);
  font-size: 1rem;
}

.navbar-info {
  background-color: var(--color-white);
  margin-bottom: 1px;
  padding: var(--gap) 0;
}
.navbar-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.logo {
}
.logo__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.logo__image {
}
.logo__title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: var(--letter-spacing);
  color: #f13c6e;
}

.feedback {
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
}
.feedback__phone {
  font-size: 1rem;
}

.navbar-secondary {
  order: -1;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.navbar-secondary__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 var(--gap-xs);
}
.navbar-secondary__link {
  display: block;
  padding: 7px var(--gap-xs);
}
