@use "../presets" as *;
@use "../mixins" as *;

@mixin offers-mixin {
  padding-top: 80px;
  padding-bottom: 50px;

  &__title {
    font-size: 1.5rem;
    line-height: $line-height-sm;
    margin: 0 0 40px;

    @include sm {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    gap: $gap-lg;
    flex-wrap: wrap;
  }
}


@mixin offer-item-mixin {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: $color-white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;

  @include lg-min {
    flex-basis: 0;
  }

  @include lg-sm {
    flex-basis: 40%;
  }

  @include sm {
    flex-basis: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: $line-height-lg;
    text-align: center;
    color: $colo-gray;
  }

  &__picture {
    order: -1;
  }

  &__price {
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: $line-height-sm;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
