@use "../presets" as *;
@use "../mixins" as *;

.feedback {
  display: flex;
  gap: $gap $gap-xl;
  align-items: center;

  @include md {
    flex-direction: column;
  }

  &__phone {
    font-size: 1rem;
  }
}
