$font-family: "Roboto", sans-serif;
$font-size: 16px;

$line-height-sm: 1.167;
$line-height-lg: 1.43;
$letter-spacing: 0.1em;

$container-width: 1110px;

$gap: 20px;
$gap-xs: $gap * 0.5;
$gap-sm: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;


